/*
saludo -> hola mundo
autor : camilo andres losada
fecha  : 17/06/24
*/

.forma{
    width: 1050px;
    margin-top: 90px;
}

.formulario{
    border: 1px solid #777;
}

.respuesta{
    border: 1px solid #634;
}
.formulario,     .respuesta{
    margin-left: 10px;
    border-radius: 6px;
    padding: 30px;
}