.border{
    border: 1px solid #000;
    
}
.head{
    background-color: rgb(57, 146, 34);
}
.head td{
    width: 90px;
    height: 60px;
}
.head td:hover{
    background-color: rgb(34, 87, 21);
}
.body{
    background-color: rgb(172, 255, 151);
}
.body td{
    width: 90px;
    height: 35px;
}
.body td:hover{
    background-color: rgb(124, 209, 103);
}
.text{
    font-size: 20px;
}